/* HEADER */
    .menufixo .horario{
        margin-left: 50px;
    }

    .borda{
        border-bottom-style: solid ;
        border-bottom-width: 2px ;
        border-bottom-color: black;
        
    }
/* /HEADER */

/* BODY */
    .background-ABC{
        background-color: #0077b6;
    }

    .background-ABC .flex-container{
        display: flex;
        justify-content: center;
        align-self: center;
        

    }

    .noticias-destaque .flex-container{
        display: flex;
        flex-direction: row;
    }

    .noticia-destaque img{
        min-width: 675px;
        max-width: 675px;
        min-height: 420px;
        max-height: 420px;
    }

    .noticias-recente img{
        min-width: 150px;
        max-width: 150px;
        min-height: 120px;
        max-height: 120px;
    }

    .noticia-destaque p{
        width: 675px;
    }

    .teste53{
        display: flex;
        flex-direction: row;
        width: 675px;
    }

/* /BODY */

/* FOOTER */

/* /FOOTER */


/* ########### Início do media query ############## */

@media screen and (max-width: 800px) {

/* HEADER */
   .menufixo .horario{
    margin-left: 0px;
    }
/* /HEADER */

/* BODY */

/* /BODY */

/* FOOTER */

/* /FOOTER */


}